# Ignore node_modules
node_modules/

Semantic Framework/teacher-apprentice/src/glove.6B.100d.txt
src/glove.6B.100d.txt
glove.6B.100d.txt

flowtorch/
__temp/
__tmp_pred/

src/tests/test_public/
src/tests/test_data
src/tests/result
src/sonar/